/*elementos comunes*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*index.php*/
fieldset {
    width: max-content;
    margin: 50px auto;
    border: 3px solid gray;
    background-color: lightgray;
}
div {
    width: 100%;
    margin: 25px 0;
    display: flex;
    justify-content: start;
}
input {
    border-radius: 5px;
    outline: none;
}
label {
    margin-right: 5px;
}
a {
    margin-left: 5px;
    color: blue;
    text-decoration: none;
}
a:visited {
    color: blue;
}
.boton input {
    padding: 5px;
}
form {
    padding: 0 1rem;
}
legend {
    padding: 0 .5rem;
}
/*sunindex.php*/
.portada {
    background-color: rgb(125, 125, 222);
    color: black;
    border: 1px solid black;
    width: 100%;
    margin: 0;
    padding: 1rem;
}
.todo {
    margin: 0;
}
.productos {
    background-color: lightgray;
    width: 58%;
    margin: 0;
}
.cesta {
    background-color: rgb(103, 165, 103);
    width: 42%;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: max-content;
    position: sticky;
    right: 0;
    top: 0;
}
.cesta img {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: .25rem;
}
.cesta h3 {
    margin-left: .5rem;
}
.carrito {
    border-bottom: 1px solid rgb(104, 103, 103);
    padding: 1rem;
    margin: 0;
}
.botones {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: .5rem;
    padding-left: .25rem;
}
.botones button {
    width: max-content;
    padding: .1rem;
    margin-bottom: .5rem;
}
.producto {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.producto div {
    margin: 0;
    padding: .5rem 0;
}
.producto div form {
    margin: 0;
    padding: 0;
}
.boton {
    padding: .1rem .2rem;
    margin-right: .2rem;
}
.footer {
    background-color: rgb(125, 125, 222);
    color: black;
    border: 1px solid black;
    width: 100%;
    margin: 0;
    padding: .25rem;
}
.footer button {
    padding: .5rem 1.5rem;
}
.footer button a {
    text-decoration: none;
    color: black;
}
.footer button a:hover {
    color: black;
}
/*errores*/
.overlay {
    position: absolute;
    background-color: black;
    opacity: .6;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
}
.error {
    width: max-content;
    margin: 2rem auto;
    border: 5px red ridge;
    position: relative;
    top: 20%;
    left: 0;
    right: 0;
    padding: 3rem;
    background-color: lightgray;
    font-size: x-large;
}
/*factura*/
.ticket {
    position: absolute;
    left: 0;
    right: 0;
    width: max-content;
    margin: 3rem auto;
    padding: 2rem;
    border: 1px solid gray;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.info {
    display: flex;
    flex-direction: column;
}
h3, h5 {
    padding-bottom: .5rem;
}
.total {
    border-top: 2px black dotted;
    padding-top: 1rem;
    display: flex;
    justify-content: end;
    margin: 0;
}
.product {
    display: flex;
    flex-direction: column;
}
.product div {
    margin: 0;
    padding: 1rem 0;
    border-bottom: 1px solid black;
}
.product div:last-child {
    border: none;
}
.pagar button {
    padding: .5rem 1rem;
    background-color: rgb(132, 132, 218);
    border-radius: 20px;
}